@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor01:#F5F5F5;
    --cor02: #142240;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    
}
th, td{
    border: 1px solid black;
    padding: 10px;
}
thead{
    position: sticky;
    top: 0px;
    background-color: rgb(170, 169, 169);
    
}
 
tr:nth-child(2n){
    background-color: rgba(12, 58, 184, 0.753);
}




header{
    background-color: var(--cor02);
    color: white;
    text-align: center;
    padding: 40px;
    
}
header > p{
    padding-top: 25px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

main{
    padding-top: 20px;
    padding: 30px;
    text-align: justify;
    background-color: lightgray;
    list-style-position: inside;
}

article{
    background-color: white;
    padding: 20px;
    line-height: 40px;
    
}

article > h3{
    background:linear-gradient(to right, rgba(41, 52, 148, 0.795), white);
    color: white;
    margin-top: 40px;
}
article > h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-bottom: 10px;
}
article > h2{
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
   

img{
    width: 100%;

    display: block;
    margin: auto;
    
}
    



aside > p{
    padding-top: 10px;
    background-color:rgb(189, 189, 189) ;
    padding: 10px;
   
    font-weight: bolder;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

article > h5{
    text-align: center;
    margin-top: 60px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    background-color:  rgba(41, 52, 148, 0.795);
    border: 1px solid black;
    border-radius: 20px 20px 20px;
}
 
h5, p{
    font-weight: bolder;
    font-size: 20px;
}